head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='Создание сайтов - Kirill Philips, https://vk.com/id90191490, 2021')
    meta(name='author' content='Kirill Philips, https://vk.com/id90191490, создание сайтов, поддержка сайтов, продвижение сайтов')
    title Молодежный лагерь «KOMOK»


    //- example of preloaded fonts and images for Pagespeed
    //- link( rel="preload" href="./fonts/DrukWideCyr-Bold.woff2" as="font" crossorigin="anonymous")
    //- link( rel="preload" href="./images/fog2.png" as="image"  crossorigin="anonymous")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')

    link(rel="apple-touch-icon", sizes="180x180", href="./images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="192x192", href="./images/favicon/android-chrome-192x192.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./images/favicon/favicon-16x16.png")
    link(rel="manifest", href="./images/favicon/site.webmanifest")
    link(rel="mask-icon", href="./images/favicon/safari-pinned-tab.svg", color="#5f4b8b")
    link(rel="shortcut icon", href="./images/favicon/favicon.ico")
    meta(name="msapplication-TileColor", content="#5f4b8b")
    meta(name="msapplication-config", content="./images/favicon/browserconfig.xml")
    meta(name="theme-color", content="#5f4b8b")
