.grid-container
  footer.footer
    .grid-x.medium-up-4
      .cell
        a(href="#").footer__link О лагере
        a(href="#").footer__link Местонахождение
        a(href="#").footer__link Команда
        a(href="#").footer__link Вопросы и ответы
        a(href="#").footer__link Галерея
        a(href="#").footer__link Отзывы
      .cell
        a(href="#").footer__link Способы оплаты
        a(href="#").footer__link Путевка в рассрочку
        a(href="#").footer__link Необходимые документы
        a(href="#").footer__link Список вещей для лагеря
      .cell
        .footer__contacts
          .footer__worktime
            a.footer__phone +7 (495) 995-15-18
            div пн-пт 10:00- 19:00
          .footer__soc
            a(href="#").footer__soc-link Фейсбук
            a(href="#").footer__soc-link Вконтакте
            a(href="#").footer__soc-link Инстаграмм
      .cell
        .footer__addres
          .footer__addres-item
            | 2021 КОМОКг. Москва, Милютинский пер., д. 15, стр. 2
          .footer__addres-item
            | ООО «МБА» ОГРН 1157746052650 ИНН/КПП 7715404727/771301001



