header.header
  a(href="/" title='На главную').header__logo
    img(src="./i/logo.svg")
  nav.nav#nav
    .nav__links
      .nav__top
        a(href="#").nav__top-link О лагере
        a(href="#").nav__top-link Местонахождение
        a(href="#").nav__top-link Команда
        a(href="#").nav__top-link Вопросы и ответы
        a(href="#").nav__top-link Отзывы
        a(href="#").nav__top-link Галерея
      .nav__bottom
        a(href="#").nav__bottom-link Способы оплаты
        a(href="#").nav__bottom-link Путевка в рассрочку
        a(href="#").nav__bottom-link Необходимые документы
        a(href="#").nav__bottom-link Список вещей для лагеря
  .work-time
    .work-time__wrapper
      .work-time__item
        a(href="tel:+74959951518").work-time__link +7 (495) 995-15-18
      .work-time__item
        | пн-пт 10:00–19:00
    button#navToggle.burger(type='button')
      span.burger__item Menu

