doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    .grid-container
      include components/common/_header


    section.section
    .grid-container
      .grid-x
        .cell.large-9.large-order-1.small-order-2
          .section__content
            .section__head
              span.section__violet.section__violet_1 Лагерь,
              |&nbsp;в который хочется возвращаться снова и снова
            .section__text
              p Комок ― это молодежный лагерь с уникальной атмосферой, в которой каждый чувствует себя комфортно.
              p Новые друзья, миллион полезных навыков, вагон положительных эмоций и фотографий — вот что получит ваш ребенок после посещения «Комка»
            div
              a(href="#").button Подробнее о сменах
        .cell.large-13.large-offset-2.section__background.large-order-2.small-order-1
          img(src="./i/komok-main-kid_1.jpg").section__slide

          img(src="./images/mainpage/back1/Group.png").section__img.section__img_1
          img(src="./images/mainpage/back1/Group-1.png").section__img.section__img_2
          img(src="./images/mainpage/back1/Group-2.png").section__img.section__img_3
          img(src="./images/mainpage/back1/Group-3.png").section__img.section__img_4
          img(src="./images/mainpage/back1/Group-4.png").section__img.section__img_5
          img(src="./images/mainpage/back1/Group-5.png").section__img.section__img_6
          img(src="./images/mainpage/back1/Group-6.png").section__img.section__img_7
          img(src="./images/mainpage/back1/circle-orange.png").section__img.section__img_8.section__img_circle
          img(src="./images/mainpage/back1/circle-violette.png").section__img.section__img_9.section__img_circle


      section.section
      .grid-container
        .section__background
          .grid-x
            .cell.large-11.large-offset-6
              .section__content.section__content_center
                .section__head
                  | Каждая смена&thinsp;
                  span.section__violet.section__violet_2 неповторима
                .section__text
                  | Мы верим, что каждый ребенок талантлив и помогаем каждому раскрыть свой потенциал благодаря сменам с уникальными тематиками.
          img(src="./images/mainpage/back2/circle.png").section__img.section__img_10
    section.section
    .grid-container
      .section__background
          .grid-x
            .cell.large-9.large-offset-2
              img(src="./i/komok-main-kid_2.jpg").section__slide

            .cell.large-9
              .section__content
                .section__head
                  .section__suptop 7-12 лет
                  | Смены&thinsp;
                  span.section__violet.section__violet_3 для детей

                .section__text
                  p Развиваем навыки самопрезентации и ораторского мастерства, повышаем уровень общей эрудициии самодисциплины, закрепляем ранее приобретенные знания английского языка, и все это в игровой непринужденной форме.
                div
                  a(href="#").button Выбрать смену
          img(src="./images/mainpage/back3/Megafon.png").section__img.section__img_11
    section.section
      .grid-container
        .section__background
          .grid-x
            .cell.large-10.large-offset-2.large-order-1.small-order-2
              .section__content
                .section__head
                  .section__suptop 13-17 лет
                  | Смены&thinsp;
                  span.section__violet.section__violet_4 для подростков

                .section__text
                  p Обучающие и спортивные игры, психологические тренинги, направленные на гармонизацию отношений в мини-коллективе, целеполагание, развитие лидерских навыков (приоритизация, осознанность, умение взять ответственность), индивидуальные и групповые задания для раскрытия творческого потенциала.
                div
                  a(href="#").button Выбрать смену

            .cell.large-11.large-offset-1.large-order-2.small-order-1
              img(src="./i/komok-main-kid_3.jpg").section__slide
          img(src="./images/mainpage/back4/Brain.png").section__img.section__img_12
          img(src="./images/mainpage/back4/Art.png").section__img.section__img_13
          img(src="./images/mainpage/back4/Camera.png").section__img.section__img_14
      img(src="./images/mainpage/back4/circle.png").section__img.section__img_15

    .board
      .grid-container
        .board__wrapper
          img(src="./images/mainpage/back5/circle.png").board__img
          .board__content Путевка в наш лагерь — это выгодная инвестиция в развитие вашего ребенка! Мы учим отдыхать и дружить, верить в себя и стремиться к цели.
    section.section.section_large-padding
      .grid-container
        .grid-x
          .cell.large-9.large-order-1.small-order-2
            .section__content
              .section__head
                span.section__violet.section__violet_5 Больше,
                | &nbsp;чем просто лагерь
              .section__text
                p Уникальная атмосфера, талантливые вожатые и незабываемые эмоции — только часть причин, почему ваш ребенок захочет возвращаться в Комок каждое лето.Но причин так много, что нам пришлось сделать отдельную страницу, чтобы рассказать вам о них.
              div
                a(href="#").button Узнать все о лагере
          .cell.large-13.large-offset-2.section__background.large-order-2.small-order-1
            img(src="./i/komok-main-kid_4.jpg").section__slide

            img(src="./images/mainpage/back6/Brain.png").section__img.section__img_16
            img(src="./images/mainpage/back6/Clock.png").section__img.section__img_17
            img(src="./images/mainpage/back6/Mask.png").section__img.section__img_18
            img(src="./images/mainpage/back6/Tv.png").section__img.section__img_19
      img(src="./images/mainpage/back6/circle.png").section__img.section__img_20
      img(src="./images/mainpage/back6/circle-small.png").section__img.section__img_21

    include components/common/_footer
