.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: rem-calc(66) 0;
    @include breakpoint(large down){
        padding: 1.125rem 0;
        flex-direction: column;
    }
}
