.nav{
    display: flex;
    flex-direction: column;
    margin: 0 rem-calc(10);
    &__links{
        display: flex;
        flex-direction: column;
    }
    &__top{
        margin-bottom: rem-calc(9);
    }
    &__top-link{
        font-style: normal;
        font-weight: 600;
        font-size: rem-calc(20);
        line-height: rem-calc(27);
        color: #000000;
    }
    &__bottom-link{
        font-size: rem-calc(16);
        line-height: rem-calc(22);

        color: #7C7C7C;
    }
    &__top-link, &__bottom-link{
        margin-right: rem-calc(15);
        &:last-child{
            margin-right: 0;
        }
    }
    @include breakpoint(large down){
        margin-top: rem-calc(10);
        margin-bottom: rem-calc(10);
        &__top-link{
            font-size: rem-calc(14);
        }
        &__bottom-link{
            font-size: rem-calc(10);
        }
    }
    @include breakpoint(small only){
        &{
            order: 1;
            width: 100%;
        }
        &__top,
        &__bottom{
            display: none;
            order:2;
            align-items: center;
        }
        &.show &__top,
        &.show &__bottom{
            display: flex;
            flex-direction: column;
        }
    }
}
