.section{
    position: relative;
    &__background{
        padding: rem-calc(75) 0;
        position: relative;
    }
    &__head{
        font-weight: 800;
        font-size: rem-calc(45);
        line-height: rem-calc(51);
        margin-bottom: rem-calc(35);
    }
    &__suptop{
        font-size: rem-calc(20);
        line-height: 114.4%;
        color: #000000;
    }
    &__content{
        margin-bottom: rem-calc(35);
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        &_center{
            text-align: center;
        }
    }
    &__slide{
        height: 100%;
    }
    &__violet{
        color: #8B57A3;
        padding-bottom: .35rem;
        background-position: bottom;
        background-size: 100% 11%;
        background-repeat: no-repeat;

        &_1{
            background-image: url(/images/Underline-1.png);
        }
        &_2{
            background-image: url(/images/Underline-2.png);
        }
        &_3{
            background-image: url(/images/Underline-3.png);
        }
        &_4{
            background-image: url(/images/Underline-4.png);
        }
        &_5{
            background-image: url(/images/Underline-5.png);
        }
    }
    &__img{
        top:0;
        right: 5%;
        z-index: 1;
        position: absolute;

        &_1{
            right:126%
        }
        &_2{
            right: 0;
        }
        &_3{
            right: 20%;
        }
        &_4{
            right: 120%;
            top: 100%;
        }
        &_5{
            top: 80%;
            right: 0;
        }
        &_6{
            top: 50%;
            right: 105%;
        }
        &_7{
            top: 50%;
        }
        &_8{
            top: 35%;
            right: 20%;
        }
        &_9{
            top: 70%;
            right: 78%;
        }
        &_10{
            top: 100%;
            right: 100%;
        }
        &_12{
            left: 10%;
        }
        &_13{
            right: 0;
        }
        &_14{
            top: 100%;
            right: 100%;
        }
        &_15{
            top: 90%;
            right: 0;
        }
        &_16{
            top: 60%;
            left: -20%;
        }
        &_17{
            left: -40%;
        }
        &_18{
            left: -80%;
            top: 90%;
        }
        &_19{

        }
        &_20{
            left: 0;
        }
        &_21{
            top: 95%;
        }
    }
    @include breakpoint(large down){
        &__content{
            text-align: center;
        }
        &__background{
            text-align: center;
        }
        &__img{
            &_1{
                right: 75%;
            }
            &_4{
                right: 90%;
                top: 100%;
            }
            &_6{
                top: 50%;
                right: 95%;
            }

            &_circle{
                height: 20%;
            }
        }
    }
    @include breakpoint(small only){
        &{
            &_large-padding{
                padding-top:rem-calc(120);
            }
        }
        &__head{
            font-size: 1.4rem;
        }
        &__slide{
            height: 80%;
        }
        &__img{
            &_circle{
                height: 12%;
            }
            &_8{
                top:42%;
            }
            &_9{
                top: 54%;
                right: 76%;
            }
        }

    }

}
